<div class="">
  <div class="col-sm-9 col-md-12 col-lg-12 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        <h5 class="card-title text-center">Admin</h5>
        <!--tabs-->
        <div>
          <tabset [justified]="true">
            <tab heading="Customer">
                <div class="row planstodiscuss" style="background:#ebebeb;margin-top:20px;">

                    <div class="col-sm-6 col-md-6">
                     UID
                    </div>
                    <div class="col-sm-6 col-md-6">
                     Points
                    </div>


                </div>
                <div class="row planstodiscuss" >

                    <div class="col-sm-4 col-md-4">
                     U42946
                    </div>
                    <div class="col-sm-4 col-md-4">
                     200
                    </div>
                    <div class="col-sm-4 col-md-4">
                      <a class="addpoints" (click)="openModal(template)">Add Points</a>
                    </div>

                  </div>
                  <div class="row planstodiscuss" >

                      <div  class="col-sm-4 col-md-4">
                     U42945
                      </div>
                      <div class="col-sm-4 col-md-4">
                     500
                      </div>
                      <div class="col-sm-4 col-md-4">
                          <a class="addpoints">Add Points</a>
                        </div>


                    </div>
                    <div class="row planstodiscuss" >

                        <div  class="col-sm-4 col-md-4">
                        U42943
                        </div>
                        <div  class="col-sm-4 col-md-4">
                         300
                        </div>
                        <div  class="col-sm-4 col-md-4">
                            <a class="addpoints">Add Points</a>
                          </div>


                      </div>
                      <div class="row planstodiscuss" >

                          <div  class="col-sm-4 col-md-4">
                          U42006
                          </div>
                          <div  class="col-sm-4 col-md-4">
                           500
                          </div>
                          <div class="col-sm-4 col-md-4">
                              <a class="addpoints">Add Points</a>
                            </div>


                        </div>

                        <div class="row planstodiscuss" >

                            <div  class="col-sm-4 col-md-4">
                             U42989
                            </div>
                            <div  class="col-sm-4 col-md-4">
                             200
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <a class="addpoints">Add Points</a>
                              </div>

                          </div>


            </tab>

            <!--<tab>
                  <ng-template tabHeading>
                    <span> <i class="fa fa-users" aria-hidden="true"></i>  </span>
                    Customers
                  </ng-template>
                   <button class="btn btn-all text-center"> GO ->  </button>
                </tab>-->


            <tab heading="Stall">
              <div class="row">
                <form class="form-signin">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
                        <label class="form-check-label" for="materialUnchecked">Create Stall</label>
                      </div>
                    </div>
                    <!-- Material checked -->
                    <div class="col-md-2">

                      <div class="form-check">
                        <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" checked>
                        <label class="form-check-label" for="materialChecked">Import Excel</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <button class="btnAdd" (click)="login('stall')" type="submit">Add Stall</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="row planstodiscuss" style="background:#ebebeb;margin-top:20px;">

                <div class="col-sm-2 col-md-2">
                  Stall ID
                </div>
                <div class="col-sm-2 col-md-2">
                  Stall Name
                </div>

                <div class="col-sm-2 col-md-2">
                  POC 1
                </div>
                <div class="col-sm-2 col-md-2">
                  POC 2
                </div>
                <div class="col-sm-2 col-md-2">
                  Amount
                </div>
                <div class="col-sm-2 col-md-2">
                  View Password
                </div>

              </div>
              <div class="row planstodiscuss">

                <div class="col-sm-2 col-md-2">
                  Stall1
                </div>
                <div class="col-sm-2 col-md-2">
                  Digital Thattukada
                </div>

                <div class="col-sm-2 col-md-2">
                  U42946
                </div>
                <div class="col-sm-2 col-md-2">
                  U42945
                </div>
                <div class="col-sm-2 col-md-2">
                  500
                </div>
                <div class="col-sm-2 col-md-2">
                  asdwe***asd
                </div>

              </div>
              <div class="row planstodiscuss">

                <div class="col-sm-2 col-md-2">
                  Stall2
                </div>
                <div class="col-sm-2 col-md-2">
                  New Star
                </div>

                <div class="col-sm-2 col-md-2">
                  U38655
                </div>
                <div class="col-sm-2 col-md-2">
                  U38656
                </div>
                <div class="col-sm-2 col-md-2">
                  5000
                </div>
                <div class="col-sm-2 col-md-2">
                  basabs***as
                </div>

              </div>
              <div class="row planstodiscuss">

                <div class="col-sm-2 col-md-2">
                  Stall 3
                </div>
                <div class="col-sm-2 col-md-2">
                  Five Star Thattukada
                </div>

                <div class="col-sm-2 col-md-2">
                  U66566
                </div>
                <div class="col-sm-2 col-md-2">
                  U66564
                </div>
                <div class="col-sm-2 col-md-2">
                  500
                </div>
                <div class="col-sm-2 col-md-2">
                  nnmmnnm*****s
                </div>

              </div>
              <div class="row planstodiscuss">

                <div class="col-sm-2 col-md-2">
                  Stall ID
                </div>
                <div class="col-sm-2 col-md-2">
                  Stall Name
                </div>

                <div class="col-sm-2 col-md-2">
                  POC 1
                </div>
                <div class="col-sm-2 col-md-2">
                  POC 2
                </div>
                <div class="col-sm-2 col-md-2">
                  Amount
                </div>
                <div class="col-sm-2 col-md-2">
                  View Password
                </div>

              </div>
              <div class="row planstodiscuss">

                <div class="col-sm-2 col-md-2">
                  Stall ID
                </div>
                <div class="col-sm-2 col-md-2">
                  Stall Name
                </div>

                <div class="col-sm-2 col-md-2">
                  POC 1
                </div>
                <div class="col-sm-2 col-md-2">
                  POC 2
                </div>
                <div class="col-sm-2 col-md-2">
                  Amount
                </div>
                <div class="col-sm-2 col-md-2">
                  View Password
                </div>

              </div>

            </tab>

          </tabset>
        </div>


      </div>
    </div>
  </div>

</div>

<ng-template #template>
    <div class="modal-header" style="background:#ebebeb">
      <h4 class="modal-title pull-left">Add Points</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
          <form class="form-signin">
            <div class="row">
                <div class="col-md-2"></div>
              <div class="col-md-8">
              <div class="form-label-group">
                <input type="text" id="inputEmail" name="imputUser" class="form-control" placeholder="UID" pattern="[a-zA-Z]+" required autofocus>
                <label for="inputEmail">UID</label>
              </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
              <div class="col-md-8">
              <div class="form-label-group">
                <input type="text" id="inputEmail" name="imputUser" class="form-control" placeholder="Points" pattern="[a-zA-Z]+" required autofocus>
                <label for="inputEmail">Points</label>
              </div>
            </div>
            </div>


              <!--<div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>-->
              <div class="row">
                  <div class="col-md-4"></div>
                <div class="col-md-4">
              <button class="btn btn-lg btn-login btn-block text-uppercase" (click)="login('stall')" type="submit">Add</button>
              </div>
              </div>
              <!--<hr class="my-4">-->
              <!--<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>-->
              <!--<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
            </form>
      </div>
    </div>
  </ng-template>
